[submodule "avl"]
	path = avl
	url = git://git.savannah.gnu.org/avl.git
[submodule "libdict"]
	path = libdict
	url = https://github.com/fmela/libdict.git
[submodule "libexecinfo"]
	path = libexecinfo
	url = https://github.com/resslinux/libexecinfo.git
[submodule "libhotcalls"]
	path = libhotcalls
	url = git@github.com:vmpl-dev/vmpl-hotcalls.git
